html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vh;
  }

  .carouselTile {
    text-align: center;  
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
  }

  .imageTile {
    width: 100%;
}

  #cat {
      width: 40%;
  }